@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --white: #ffffff;
    --white-rgb: 255, 255, 255;
    --bg: #5D66D7;
    --padding: 15px;
    --padding-container: 170px;
    --margin: 50px;
    --ff-poppins: 'Poppins', 'Open Sans', sans-serif;
    --ff-jetbrains-mono: 'JetBrains Mono';
    --fw-regular: 400;
    --fw-bold: 700;
    --fz-large: 64px;
    --fz-medium: 48px;
    --fz-small: 24px;
    --fz-little: 18px;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: translate(-50%, -50%) rotate(360deg);
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

body {
    margin: 0;
    height: 100vh;
    background-image: url("./assets/bg.png");
    background-size: cover;
    background-color: var(--bg);
    font-family: var(--ff-poppins);
    color: var(--white);
    overflow: hidden;
}

main {
    height: 70vh;
}

.container {
    margin: 0 auto;
    padding: 0 var(--padding-container);
    max-width: 1920px;
}

.button {
    position: relative;
    padding: 0;
    font-family: var(--ff-jetbrains-mono);
    background-color: transparent;
    border: none;
}

.button--primary {
    color: var(--white);
    font-weight: var(--fw-bold);
    font-size: var(--fz-medium);
    text-decoration: underline;
}

.button--icon {
    padding-left: calc(var(--margin) + 20px);
}

.button--icon:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 50px;
    height: 50px;
    background-image: url("./assets/svg/github.svg");
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.button--hidden {
    opacity: 0;
    -webkit-transition: opacity 3s ease, -webkit-transform 3s ease;
    transition: opacity 3s ease, -webkit-transform 3s ease;
    transition: opacity 3s ease, transform 3s ease;
    transition: opacity 3s ease, transform 3s ease, -webkit-transform 3s ease;
}

.down-hide-ease {
    -webkit-transform: translateY(100vh);
    transform: translateY(100vh);
    -webkit-transition: -webkit-transform 3s ease;
    transition: -webkit-transform 3s ease;
    transition: transform 3s ease;
    transition: transform 3s ease, -webkit-transform 3s ease;
}

.visible {
    opacity: 1;
}

.opacity-hidden-ease {
    opacity: 0;
    -webkit-transition: opacity .7s ease;
    transition: opacity .7s ease;
}

.hidden {
    display: none;
}

.header {
    margin-bottom: var(--margin);
}

.warning-message {
    position: absolute;
    padding-left: 60px;
    color: rgba(var(--white-rgb), 0.8);
    font-size: var(--fz-little);
}

.warning-message::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 48px;
    height: 48px;
    background-image: url("./assets/svg/headphone.svg");
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: .8;
}

.screen {
    width: 100vw;
    -webkit-transition: margin 3s ease, -webkit-transform 3s ease;
    transition: margin 3s ease, -webkit-transform 3s ease;
    transition: margin 3s ease, transform 3s ease;
    transition: margin 3s ease, transform 3s ease, -webkit-transform 3s ease;
}

.screen.up {
    margin-left: -100vw;
}

.screen.up .go-next-screen {
    left: -100%;
    -webkit-transition: left 3s ease-out;
    transition: left 3s ease-out;
    -webkit-transform: translate(-50%, 0) scale(0.9);
    transform: translate(-50%, 0) scale(0.9);
}

.screen.right {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
}

.go-next-screen {
    position: absolute;
    top: -145px;
    left: 50%;
    width: 950px;
    height: 950px;
    border: none;
    background-color: transparent;
    -webkit-transition: left 3s ease-out;
    transition: left 3s ease-out;
    -webkit-transform: translate(-50%, 0) scale(0.9);
    transform: translate(-50%, 0) scale(0.9);
    overflow: hidden;
    cursor: pointer;
}

.go-next-screen__text {
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: var(--ff-jetbrains-mono);
    color: var(--white);
    font-weight: var(--fw-bold);
    font-size: var(--fz-medium);
    text-decoration: underline;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-image {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50px;
    background-size: contain;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn-image:first-child {
    width: 970px;
    height: 970px;
    background-image: url("./assets/svg/btn-border-1.svg");
}

.btn-image:nth-child(2) {
    width: 642px;
    height: 642px;
    background-image: url("./assets/svg/btn-border-2.svg");
}

.btn-image:nth-child(3) {
    width: 357px;
    height: 357px;
    background-image: url("./assets/svg/btn-border-3.svg");
}

.btn-image:nth-child(4) {
    width: 296px;
    height: 296px;
    background-image: url("./assets/svg/btn-border-4.svg");
}

.rotate {
    -webkit-animation: rotate 15s linear infinite;
    animation: rotate 15s linear infinite;
}

.rotate-reverse {
    animation: rotate 15s linear reverse infinite;
}

.faq__headline {
    margin-bottom: var(--margin);
    font-family: var(--ff-jetbrains-mono);
    font-weight: var(--fw-bold);
    font-size: var(--fz-medium);
    text-align: center;
}

.faq__combo-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.faq__wrapper {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.faq__wrapper .faq__headline {
    margin-bottom: calc(var(--margin) / 2);
}

.faq__wrapper:first-child {
    margin-right: calc(var(--margin) * 2);
}

.faq__text {
    color: rgba(var(--white-rgb), 0.8);
    font-weight: var(--fw-regular);
    font-size: var(--fz-small);
}

.faq__title {
    margin-bottom: calc(var(--margin) / 2);
    color: rgba(var(--white-rgb), 0.8);
    font-weight: var(--fw-regular);
    font-size: var(--fz-small);
}

.faq__list {
    margin: 0;
    padding: 0;
    margin-left: calc(var(--margin) / 2 + 5px);
}

.faq__item {
    font-family: var(--ff-poppins);
    color: rgba(var(--white-rgb), 0.8);
    font-weight: var(--fw-regular);
    font-size: var(--fz-small);
}

.faq__item:not(:last-child) {
    margin-bottom: calc(var(--margin) / 2 - 10px);
}

.supermenu {
    padding: var(--padding) 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    border-radius: 10px;
    background-color: rgba(var(--white-rgb), 0.2);
    -webkit-filter: drop-shadow(0px 0px 30px #836AE9);
    filter: drop-shadow(0px 0px 30px #836AE9);
    opacity: 0;
    -webkit-transition: opacity .3s ease;
    transition: opacity .3s ease;
}

.supermenu.open {
    opacity: 1;
}

.supermenu__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.supermenu__item {
    width: 100%;
    -webkit-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.supermenu__item:hover {
    background-color: rgba(var(--white-rgb), 0.3);
    -webkit-filter: drop-shadow(-10px 4px 15px var(--white));
    filter: drop-shadow(-10px 4px 15px var(--white));
}

.supermenu__item:hover .supermenu__btn:before {
    -webkit-transform: translateY(-50%) scale(1.1);
    transform: translateY(-50%) scale(1.1);
}

.supermenu__item:active {
    background-color: rgba(var(--white-rgb), 0.2);
    -webkit-filter: drop-shadow(-10px 4px 15px var(--white));
    filter: drop-shadow(-10px 4px 15px var(--white));
}

.supermenu__btn {
    position: relative;
    width: 100%;
    padding: calc(var(--padding) - 10px) calc(var(--padding) - 5px);
    padding-left: calc(var(--padding) * 2 + 20px);
    border: none;
    background-color: transparent;
    color: var(--white);
    font-weight: var(--fw-bold);
    font-size: var(--fz-little);
    text-align: left;
}

.supermenu__btn:before {
    content: '';
    position: absolute;
    top: 50%;
    left: var(--padding);
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.start-using {
    cursor: pointer;
}

[data-type="random-background"]:before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 9C13 9 14 7 14 5C14 3 12 1 12 1C12 1 10 3 10 5C10 7 11 9 11 9M12 15C12.7956 15 13.5587 14.6839 14.1213 14.1213C14.6839 13.5587 15 12.7956 15 12C15 11.2044 14.6839 10.4413 14.1213 9.87868C13.5587 9.31607 12.7956 9 12 9C11.2044 9 10.4413 9.31607 9.87868 9.87868C9.31607 10.4413 9 11.2044 9 12C9 12.7956 9.31607 13.5587 9.87868 14.1213C10.4413 14.6839 11.2044 15 12 15V15Z' stroke='white' stroke-width='1.5' stroke-miterlimit='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M13.414 9.17205C13.414 9.17205 14.121 7.05005 15.536 5.63605C16.95 4.22205 19.778 4.22205 19.778 4.22205C19.778 4.22205 19.778 7.05005 18.364 8.46505C16.95 9.87905 14.828 10.586 14.828 10.586M9 11C9 11 7 10 5 10C3 10 1 12 1 12C1 12 3 14 5 14C7 14 9 13 9 13V11ZM13 15C13 15 14 17 14 19C14 21 12 23 12 23C12 23 10 21 10 19C10 17 11 15 11 15H13ZM15 11C15 11 17 10 19 10C21 10 23 12 23 12C23 12 21 14 19 14C17 14 15 13 15 13V11ZM10.586 9.17205C10.586 9.17205 9.879 7.05005 8.464 5.63605C7.05 4.22205 4.222 4.22205 4.222 4.22205C4.222 4.22205 4.222 7.05005 5.636 8.46505C7.05 9.87905 9.172 10.586 9.172 10.586L10.586 9.17205ZM9.172 13.414C9.172 13.414 7.05 14.121 5.636 15.536C4.222 16.95 4.222 19.778 4.222 19.778C4.222 19.778 7.05 19.778 8.464 18.364C9.879 16.95 10.586 14.828 10.586 14.828L9.172 13.414ZM14.829 13.414C14.829 13.414 16.949 14.121 18.364 15.536C19.778 16.95 19.778 19.778 19.778 19.778C19.778 19.778 16.95 19.778 15.536 18.364C14.121 16.95 13.414 14.828 13.414 14.828L14.829 13.414Z' stroke='white' stroke-width='1.5' stroke-miterlimit='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

[data-type="clicksModule"]:before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.17079 11.828L4.05079 13.95M8.99979 9.00001L13.9998 21L15.7738 15.774L20.9998 14L8.99979 9.00001ZM16.0708 16.071L20.3138 20.314L16.0708 16.071ZM7.18779 2.23901L7.96479 5.13601L7.18779 2.23901ZM5.13579 7.96501L2.23779 7.18801L5.13579 7.96501ZM13.9498 4.05001L11.8278 6.17201L13.9498 4.05001Z' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

[data-type="shapes"]:before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 15C17.817 15 17.642 15.022 17.468 15.054L8.946 6.532C8.978 6.359 9 6.182 9 6C9 4.346 7.654 3 6 3C4.346 3 3 4.346 3 6C3 7.302 3.839 8.401 5 8.815V15.184C4.41685 15.3897 3.9116 15.7708 3.55354 16.2749C3.19548 16.7791 3.00213 17.3816 3 18C3 19.654 4.346 21 6 21C6.61833 20.9982 7.22095 20.805 7.72501 20.4469C8.22908 20.0888 8.60985 19.5833 8.815 19H15.184C15.3893 19.5832 15.7701 20.0886 16.2741 20.4467C16.7782 20.8048 17.3807 20.9981 17.999 21C19.653 21 20.999 19.654 20.999 18C20.999 16.346 19.654 15 18 15ZM7 15.184V8.816C7.329 8.698 7.629 8.525 7.894 8.308L15.693 16.107C15.4728 16.3731 15.3009 16.6757 15.185 17.001H8.815C8.66645 16.5823 8.42648 16.202 8.11252 15.8877C7.79856 15.5734 7.41851 15.333 7 15.184V15.184ZM6 5C6.19806 4.9998 6.39174 5.05837 6.5565 5.16828C6.72127 5.2782 6.84972 5.43452 6.92561 5.61747C7.0015 5.80042 7.02141 6.00177 6.98281 6.19604C6.94422 6.39031 6.84887 6.56876 6.70881 6.70881C6.56876 6.84887 6.39031 6.94422 6.19604 6.98281C6.00177 7.02141 5.80042 7.0015 5.61747 6.92561C5.43452 6.84972 5.2782 6.72127 5.16828 6.5565C5.05837 6.39174 4.9998 6.19806 5 6C5 5.449 5.448 5 6 5ZM6 19C5.74252 18.9885 5.49941 18.8781 5.32128 18.6918C5.14315 18.5055 5.04373 18.2577 5.04373 18C5.04373 17.7423 5.14315 17.4945 5.32128 17.3082C5.49941 17.1219 5.74252 17.0115 6 17C6.25748 17.0115 6.50059 17.1219 6.67872 17.3082C6.85685 17.4945 6.95627 17.7423 6.95627 18C6.95627 18.2577 6.85685 18.5055 6.67872 18.6918C6.50059 18.8781 6.25748 18.9885 6 19V19ZM18 19C17.7425 18.9885 17.4994 18.8781 17.3213 18.6918C17.1431 18.5055 17.0437 18.2577 17.0437 18C17.0437 17.7423 17.1431 17.4945 17.3213 17.3082C17.4994 17.1219 17.7425 17.0115 18 17C18.2575 17.0115 18.5006 17.1219 18.6787 17.3082C18.8569 17.4945 18.9563 17.7423 18.9563 18C18.9563 18.2577 18.8569 18.5055 18.6787 18.6918C18.5006 18.8781 18.2575 18.9885 18 19V19Z' fill='white'/%3E%3C/svg%3E ");
}

[data-type="user-timer"]:before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.4998 15C20.134 15.0004 20.7443 15.2418 21.2072 15.6753C21.6701 16.1089 21.9509 16.7021 21.9928 17.335L21.9988 17.499V19.503C21.9967 20.1503 21.7436 20.7717 21.2927 21.2362C20.8419 21.7008 20.2284 21.9723 19.5813 21.9937C18.9343 22.0151 18.3042 21.7846 17.8237 21.3508C17.3431 20.9171 17.0496 20.3138 17.0048 19.668L16.9998 19.503V17.5C16.9998 16.8369 17.2632 16.201 17.732 15.7322C18.2008 15.2634 18.8367 15 19.4998 15ZM11.9998 4.99796C13.1701 4.99792 14.3279 5.23958 15.4005 5.70778C16.4731 6.17598 17.4375 6.86065 18.2332 7.71889C19.0289 8.57713 19.6388 9.59044 20.0247 10.6953C20.4106 11.8003 20.5642 12.9729 20.4758 14.14C19.9903 13.9963 19.4792 13.9615 18.9788 14.038C19.0921 12.5703 18.7398 11.1042 17.972 9.84822C17.2042 8.59225 16.0599 7.6103 14.702 7.04198C13.3441 6.47366 11.8415 6.34791 10.408 6.6826C8.97448 7.0173 7.68296 7.7954 6.71708 8.90627C5.75119 10.0172 5.1601 11.4043 5.02784 12.8704C4.89558 14.3365 5.2289 15.807 5.98039 17.0728C6.73188 18.3386 7.8633 19.3353 9.21378 19.9211C10.5643 20.5069 12.0651 20.6521 13.5028 20.336V21.246L13.5138 21.431V21.863C12.3526 22.0724 11.1606 22.0378 10.0136 21.7614C8.86653 21.485 7.7896 20.9728 6.85132 20.2575C5.91304 19.5421 5.13397 18.6392 4.5637 17.6063C3.99342 16.5734 3.64442 15.4331 3.53893 14.258C3.43343 13.0828 3.57375 11.8986 3.95094 10.7806C4.32813 9.66266 4.93394 8.63547 5.7298 7.76443C6.52567 6.89339 7.49416 6.19759 8.57362 5.7213C9.65309 5.24501 10.8199 4.99867 11.9998 4.99796V4.99796ZM15.9958 15.649L16.0028 15.749V21.246C16.0047 21.4373 15.9334 21.6222 15.8035 21.7627C15.6736 21.9033 15.4948 21.9888 15.3039 22.0018C15.113 22.0149 14.9243 21.9544 14.7764 21.8329C14.6286 21.7113 14.5329 21.5378 14.5088 21.348L14.5018 21.246V16.792L13.9898 16.965C13.8179 17.0227 13.6309 17.0163 13.4634 16.9468C13.2959 16.8773 13.1593 16.7495 13.0788 16.587L13.0398 16.492C12.9823 16.3202 12.9889 16.1334 13.0584 15.9662C13.1278 15.7989 13.2555 15.6624 13.4178 15.582L13.5118 15.542L15.0138 15.039C15.1185 15.0038 15.2296 14.9922 15.3393 15.005C15.449 15.0177 15.5545 15.0546 15.6483 15.1128C15.7422 15.1711 15.8219 15.2494 15.882 15.3421C15.9421 15.4347 15.9809 15.5395 15.9958 15.649V15.649ZM19.4988 16.499C19.254 16.4992 19.0179 16.5893 18.835 16.752C18.6522 16.9147 18.5354 17.1389 18.5068 17.382L18.4998 17.499V19.503C18.502 19.7565 18.6005 19.9997 18.7753 20.1833C18.95 20.367 19.188 20.4775 19.4411 20.4923C19.6942 20.5072 19.9435 20.4254 20.1385 20.2634C20.3336 20.1015 20.4598 19.8715 20.4918 19.62L20.4978 19.503V17.5C20.4978 17.2349 20.3926 16.9807 20.2052 16.7932C20.0179 16.6057 19.7638 16.5002 19.4988 16.5V16.499ZM11.9998 7.99996C12.1812 8 12.3564 8.06578 12.493 8.18511C12.6296 8.30443 12.7183 8.46923 12.7428 8.64896L12.7498 8.75096V13.251C12.7495 13.4409 12.6771 13.6236 12.5473 13.7623C12.4175 13.901 12.2399 13.9852 12.0504 13.998C11.8609 14.0108 11.6736 13.9513 11.5263 13.8314C11.379 13.7115 11.2827 13.5401 11.2568 13.352L11.2498 13.251V8.75096C11.2496 8.65239 11.2689 8.55475 11.3066 8.46364C11.3442 8.37253 11.3994 8.28973 11.4691 8.21999C11.5387 8.15024 11.6215 8.0949 11.7125 8.05715C11.8036 8.01939 11.9012 7.99996 11.9998 7.99996V7.99996ZM19.1618 5.12196L19.2418 5.18296L20.3738 6.16896C20.5191 6.29331 20.6115 6.46852 20.632 6.65873C20.6524 6.84893 20.5994 7.03977 20.4838 7.19218C20.3682 7.34459 20.1987 7.44706 20.01 7.47862C19.8213 7.51018 19.6277 7.46845 19.4688 7.36196L19.3878 7.29996L18.2578 6.31396C18.1155 6.18879 18.026 6.01443 18.007 5.82592C17.9881 5.6374 18.0412 5.44871 18.1557 5.29775C18.2702 5.14679 18.4375 5.04475 18.6242 5.01214C18.8108 4.97953 19.0029 5.01877 19.1618 5.12196V5.12196ZM14.2498 2.48596C14.4398 2.48602 14.6227 2.55821 14.7616 2.68793C14.9004 2.81766 14.9848 2.99526 14.9978 3.18484C15.0108 3.37442 14.9513 3.56185 14.8313 3.70926C14.7114 3.85667 14.54 3.95306 14.3518 3.97896L14.2498 3.98596H9.74977C9.55975 3.9859 9.37683 3.91372 9.23798 3.78399C9.09913 3.65426 9.0147 3.47666 9.00175 3.28708C8.9888 3.0975 9.04829 2.91007 9.16821 2.76266C9.28812 2.61526 9.45952 2.51886 9.64777 2.49296L9.74977 2.48596H14.2498Z' fill='white'/%3E%3C/svg%3E%0A");
}

[data-type="message"]:before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3 18H18M3 6H21H3ZM3 12H13H3Z' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E ");
}

[data-type="random-saund"]:before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.513 2.04799C11.3996 2.00552 11.2775 1.99115 11.1573 2.00611C11.0371 2.02108 10.9224 2.06493 10.8228 2.13392C10.7233 2.20291 10.6419 2.29499 10.5857 2.40227C10.5295 2.50956 10.5001 2.62887 10.5 2.74999V14.877C9.80703 14.3222 8.94918 14.0136 8.06156 14C7.17395 13.9863 6.30701 14.2683 5.59729 14.8015C4.88756 15.3348 4.37539 16.0889 4.14142 16.9453C3.90746 17.8016 3.96501 18.7114 4.305 19.5315C4.64499 20.3515 5.2481 21.0351 6.01935 21.4747C6.79061 21.9143 7.68617 22.0848 8.56498 21.9594C9.4438 21.834 10.2559 21.4198 10.8735 20.7821C11.491 20.1444 11.8789 19.3194 11.976 18.437C11.9918 18.3759 11.9999 18.3131 12 18.25V8.83199L18.987 11.452C19.1004 11.4945 19.2225 11.5088 19.3427 11.4939C19.4629 11.4789 19.5776 11.4351 19.6772 11.3661C19.7768 11.2971 19.8581 11.205 19.9143 11.0977C19.9705 10.9904 19.9999 10.8711 20 10.75V7.48299C20.0002 6.82123 19.7983 6.17519 19.4215 5.63123C19.0446 5.08727 18.5106 4.67132 17.891 4.43899L11.513 2.04799V2.04799ZM10.5 18C10.5 18.663 10.2366 19.2989 9.76777 19.7678C9.29893 20.2366 8.66304 20.5 8 20.5C7.33696 20.5 6.70108 20.2366 6.23224 19.7678C5.7634 19.2989 5.5 18.663 5.5 18C5.5 17.337 5.7634 16.7011 6.23224 16.2322C6.70108 15.7634 7.33696 15.5 8 15.5C8.66304 15.5 9.29893 15.7634 9.76777 16.2322C10.2366 16.7011 10.5 17.337 10.5 18ZM18.5 9.66799L12 7.22999V3.83199L17.364 5.84399C17.6977 5.96902 17.9853 6.19296 18.1883 6.48585C18.3913 6.77874 18.5001 7.12663 18.5 7.48299V9.66799Z' fill='white'/%3E%3C/svg%3E%0A");
}

.user-timer {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    font-weight: bold;
    font-size: 2rem;
    color: white;
    padding: 1rem 2rem;
}


.timer {
    position: absolute;
    top: 30px;
    left: 40%;
    visibility: hidden;
}

.timer__wrapper {
    padding: 20px;
    background-color: rgba(var(--white-rgb), 0.2);
    text-align: center;
    border-radius: 20px;
    color: #000;
    font-size: 25px;
}

.timer__counter {
    margin-bottom: 15px;
}

.target__click {
    margin-top: 30px;
    width: 250px;
    /* max-width: 400px; */
    height: 100px;
    font-size: 20px;
    text-align: center;
    background-color: rgba(98, 238, 145, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

p {
    padding: 0;
    margin: 0;
}

.random__shapes {
    position: absolute;
    top: 100px;
    left: 40%;
    width: 20%;
    height: 250px;

    visibility: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all .4s linear;
}

.shape__block {
    width: 80%;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.shape__img {
    width: 100px;
    background-size: cover;
    background-repeat: no-repeat;

    transition: all .4s linear;
}

.random__sound {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    cursor: grab;

    border: 5px solid rgb(165, 209, 165);
    background-color: rgb(37, 26, 26);

    visibility: hidden;
    border-radius: 20px;
    transition: all .4s linear;

    -webkit-box-shadow: 0px 0px 10px 6px rgba(9, 24, 10, 0.52);
    -moz-box-shadow: 0px 0px 10px 6px rgba(9, 24, 10, 0.52);
    box-shadow: 0px 0px 10px 6px rgba(9, 24, 10, 0.52);
}

.random__sound--img {
    width: 400px;
    height: 300px;
    padding: 30px;
}

.sound__close {
    position: relative;
    margin: auto;
}

.random__audio {
    width: 100%;
}

.random__sound--text {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.sound_textblock {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 16px 10px;
    background-color:rgb(190, 190, 190);
    border-radius:15px;
    width: 440px;

    -webkit-box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.54) inset;
    -moz-box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.54) inset;
    box-shadow: 0px 0px 11px 2px rgba(0, 0, 0, 0.54) inset;
}

.sound__close::before {
    content: '';
    width: 30px;
    height: 30px;
    background: url('./assets/saundModule/close.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.random__msg {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px;
    width: 100%;
    max-width: 750px;
    font-size: var(--fz-small);
    transition: all .4s linear;
    padding: 10px 20px;
    text-align: center;
    visibility: hidden;
    transition: all .4s linear;
    background-color:#000;
}

.footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: var(--padding) 0;
    -webkit-box-shadow: 0 -1px rgba(var(--white-rgb), 0.3);
    box-shadow: 0 -1px rgba(var(--white-rgb), 0.3);
}

.footer__logo {
    width: 180px;
    height: 180px;
    background-image: url("./assets/svg/footer-logo.svg");
    background-size: contain;
}

.footer__logo-ang-headline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: calc(var(--margin) * 2);
}

.footer__logotype {
    margin-right: var(--padding);
}

.footer__headline {
    color: rgba(var(--white-rgb), 0.8);
    font-weight: var(--fw-bold);
    font-size: var(--fz-large);
}

.footer__text {
    color: rgba(var(--white-rgb), 0.8);
    font-size: var(--fz-small);
}

@media screen and (max-width: 576px) {
    body {
        overflow-x: hidden;
        overflow-y: auto;
    }

    main {
        height: 100vh;
    }

    .container {
        padding: 0 var(--padding);
    }

    .screen {
        overflow-x: hidden;
    }

    .go-next-screen {
        top: 140px;
        width: 320px;
        height: 320px;
    }

    .go-next-screen__text {
        font-size: var(--fz-small);
        cursor: pointer;
    }

    .btn-image:first-child {
        width: 440px;
        height: 440px;
    }

    .btn-image:nth-child(2) {
        width: 302px;
        height: 302px;
    }

    .btn-image:nth-child(3) {
        width: 176px;
        height: 176px;
    }

    .btn-image:nth-child(4) {
        width: 146px;
        height: 146px;
    }

    .faq__combo-inner {
        flex-direction: column;
    }

    .faq__wrapper:first-child {
        margin-right: 0;
    }

    .footer__wrapper {
        flex-direction: column;
    }

    .footer__logo-ang-headline {
        flex-direction: column;
        margin-right: 0;
    }

    .footer__logo {
        width: 80px;
        height: 80px;
    }

    .footer__headline {
        font-size: var(--fz-medium);
    }
}
